<div class="container">
    <img href="https://www.stores-discount.com/fstrz/r/s/cdn.stores-discount.com/images/header/logo-stores-discount.svg?frz-v=707" alt="logo"/>
    <div>
        <a href="{{ path('index') }}">Link 1</a>
        <a href="{{ path('list') }}">Link 2</a>
    </div>
</div>
