{% extends 'extends/base.html.twig' %}

{% block main %}
<form  method="post" action="{{ path('newclient') }}">
	<div class="row">
		<div class="col-4 offset-4">
            <div class="row">
                <div class="col-6">
                    <div class="row">
			            <label for="email">First Name</label>
                    </div>
                    <div class="row">
			            <input id="firstName" name="firstName" type="text">
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <label for="email">Last Name</label>
                    </div>
                    <div class="row">
			            <input id="lastName" name="lastName" type="text">
                    </div>
                </div>
			</div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
			            <select name="country"> 
                            <option>FR</option>
                            <option>BE</option>
                            <option>GER</option>
                            <option>EN</option>
                        </select>
                    </div>
                </div>
			</div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
			            <label for="email">Phone Number</label>
                    </div>
                    <div class="row">
			            <input id="phoneNumber" name="phoneNumber" type="text">
                    </div>
                </div>
			</div>
				<div class="input-field col s3">
					<button class="btn" type="submit" name="action">Call me</button>
				</div>
			</div>
        </div>
    </div>
</form>
{% endblock %}
